<!-- layouts/shortcodes/foldergallery.html: -->

<<<<<<< HEAD
<style>
  div.gallery {
     display: flex;
     flex-wrap: wrap;
  }
        div.gallery a {
            flex-grow: 1;
            object-fit: cover;
            margin: 2px;
            display: flex;
        }

        div.gallery a img {
            height: 200px;
            object-fit: cover;
            flex-grow: 1;
        }

</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.0/jquery.fancybox.min.css" />

<div class="pdfgallery col-4">
=======
<!-- style>
    div.gallery {
        display: flex;
        flex-wrap: wrap;
    }

    div.gallery a {
        width: 300px;
        /* flex-grow: 1; */
        /* object-fit: cover; */
        margin: 5px;
        display: flex;
    }

    div.gallery a img {
        width: 250px;
        object-fit: cover;
        /* flex-grow: 1; */
    }

</nostyle -->

<!-- link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.0/jquery.fancybox.min.css" / -->

<div class="pdfgallery row">
>>>>>>> bf06689581fd601d390dcfb93543c035511add63
    {{ $base := .Get "src" }}
    {{ $path := print "static/" (.Get "src") }}

    {{ range (readDir $path) }}
        {{- $ispdf := lower .Name | findRE "\\.(pdf|PDF)" }} <!-- is the current file a pdf? -->
        {{- if $ispdf }}
            {{- $thumb := .Name | replaceRE "(\\.(PDF|pdf))" "-thumb.png" }}
            <div class="col-3 pb-5">
              <a data-fancybox="pdfgallery" href="/{{ $base }}/{{ .Name }}">
                <img src="/{{ $base  }}/{{ $thumb }}" alt="{{ .Name }}" title="{{ .Name }}" caption="Blah">
                <div class="text-center">{{ .Name }}</div>
                <!-- br/ -->
              </a>
            </div>
        {{- end }}
    {{ end }}
</div>

<!-- script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.0/jquery.fancybox.min.js"></script -->

