<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default (printf "en-us") }}">
  {{ block "main" . -}}
    <!-- The part of the page that begins to differ between templates -->
  {{ end }}
  {{- partial "head.html" . }}
  {{- $bg := .Site.Params.style.background | default "secondary" -}}

  <body class="{{ printf "bg-%s" $bg }}">
    {{ partial "helpers/fragments-renderer.html" (dict "page_scratch" .Scratch) -}}

    {{/* template "_internal/disqus.html" . */}}

    <div id="react"></div>

    {{ partial "js.html" . }}
  </body>
</html>
